.Event{
    position: absolute;
    width: 1920px;
    height: 857px;
    left: 0px;
    top: 4332px;

    background: #E8F1FF;
}

.Title{
    
    width: 503px;
    height: 54px;
    left: 709px;
    top: 4412px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */

    text-align: center;

    /* Future of Work Summit - Orange */

    color: #F39711;

}

.Title1{
    width: 503px;
    height: 54px;
    left: 709px;
    top: 4412px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */

    text-align: center;

    /* Future of Work Summit - Orange */

    color: #00000A;

}

.Days{
    box-sizing: border-box;

   
    width: 900px;
    height: 75px;
    left: 510px;
    top: 4506px;

    /* Future of Work Summit - White */

    background: #F9FCFC;
    /* Future of Work Summit - Orange */

    border: 3px solid #F39711;
    border-radius: 50px;
}

.Day1{
    width: 299px;
    height: 75px;
    left: 510px;
    top: 4506px;

    /* Future of Work Summit - Orange */

    background: #F39711;
    border-radius: 50px 0px 0px 50px;
}


.line{
    
    width: 75px;
    height: 0px;
    left: 1111px;
    top: 4581px;

    /* Future of Work Summit - Orange */

    border: 3px solid #F39711;
    transform: rotate(-90deg);
    }