.John{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 340px;
    top: 3224px;

    background: url(../John.png);
    border-radius: 25px;
}

.John1{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 760px;
    top: 3224px;

    background: url(../John1.png);
    border-radius: 25px;
}

.John2{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 1180px;
    top: 3224px;

    background: rgba(24, 54, 178, 0.75);
    border-radius: 25px;
}

.John3{
        
    position: absolute;
    width: 400px;
    height: 400px;
    left: 340px;
    top: 3758px;

    background: url(../John4.png);
    border-radius: 25px;
}

.John4{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 760px;
    top: 3758px;

    background: url(../John5.png);
    border-radius: 25px;
}

.John5{
    
position: absolute;
width: 400px;
height: 400px;
left: 1180px;
top: 3758px;

background: url(../John6.png);
border-radius: 25px;

}