.ContactUs{
    position: absolute;
width: 1920px;
height: 682px;
left: 0px;
top: 5675px;

background: linear-gradient(0deg, rgba(232, 241, 255, 0.97), rgba(232, 241, 255, 0.97)), url(../AttendBackground.png);
}

.ContactUs,h4{
    position: absolute;
width: 204px;
height: 54px;
left: 340px;
top: 5755px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;
/* identical to box height */

text-align: center;

/* Future of Work Summit - Black */

color: #00000A;
}