/* Overviews component styling */

.OverPage {
    background-color: #F9FCFC;
    width: 100vw;
    padding: 3% 10% 5% 10%;
}

.Overcs, .OvercsPics {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.OvercsPics1 div, .OvercsPics2 div {
    
    width: 200px;
    height: 150px;
    border-radius: 20px;
}

.OvercsPics1 div {
    margin-top: 20px;
}

.OvercsPics2 div {
    margin-left: 20px;
    margin-top: 20px;
}

.Overpicture1 {
    margin-top: 60px !important;
    margin-right: 0px !important;
}

.OvercsTxt {
    padding-right: 50px;
}

.Overh4 {
    font-weight: 600;
    font-size: 16px;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #F39711;
    padding-left: 10px;
    margin-bottom: 25px;
}

.Overh3, .grid h4, .Keystylesheading {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 16px;
}

.Overp, .grid p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

/* Takeaways component styling */

.Keystyles {
    background-color: #E8F1FF;
    padding: 3% 10%;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.grid > div {
    background-color: white;
    aspect-ratio: 1/1;
    width: 30%;
    margin-bottom: 50px;
    padding: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Keystylesheading {
    text-align: center;
    padding-bottom: 30px;
}




/* Styles for menu navigation bar */


  

  

  
  /* Media query for menu navigation bar */
  @media screen and (min-width: 768px) {
    .navbar {
      padding: 10px 50px;
    }
  
    .navbar-link {
      margin-left: 40px;
    }
    /* Styles for menu navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-link {
    margin-left: 20px;
    font-size: 16px;
  }
  

  
  }
  