.Title{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.Title span{
    color: #F39711;
}
.Parentforschedule{
    background: #E8F1FF;
}

.parent1{
    display: flex;
    border: 3px solid #F39711;
    border-radius: 55px;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #F9FCFC;
}



.parent1 div{
    margin-right: 70px;
    text-align: center;
    margin-top: 10px;
    
}


.parent2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.parent2 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.parent2 > div:first-child {
  display: flex;
  align-items: center;
}

.parent2 > div:last-child {
  display: inline-block;
}


.line{
    border: 2px solid #51ADE5;
}


