.IndustrySponsors{
    position: absolute;
    width: 1920px;
    height: 486px;
    left: 0px;
    top: 5189px;

    background: #F9FCFC;
}

.Industrytitle{
 


font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;
/* identical to box height */

text-align: center;

/* Future of Work Summit - Orange */

color: #F39711;
}

.nvidia{
    box-sizing: border-box;

    
    width: 232px;
    height: 232px;
    left: 340px;
    top: 5363px;

    border: 2px solid #E0E2F1;
    border-radius: 25px;
}

.Nvidiaphoto{
  
    width: 150px;
    height: 110.62px;
    left: 381px;
    top: 5424px;

    background: url(../Nvidia.png);
}
