.IndustrySponsors{
    
background: #F9FCFC;

}

.Industrytitle{
  
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000;
    font-size: 36px;
    color: #FF6B00;
}

.Industrytitle span{
    color: #00000A;
}



.Sponsorslist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden; /* to hide the overflowing part of the animated div */
    animation: scroll 5s linear infinite; /* animate the div using the scroll animation for 20 seconds, linearly, infinitely */
  }
  
  .Sponsorslist div {
    border: 2px solid #e0e2f1;
    border-radius: 25px;
    align-items: center;
    margin: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
    padding: 10px;
    animation: move 20s linear infinite; /* animate each logo to move for 20 seconds, linearly, infinitely */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .Sponsorslist {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .Sponsorslist > div {
    flex: 0 0 auto;
    width: 200px; /* adjust as needed */
  }
  
  .Sponsorslist > div img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* animate the movement */
  .Sponsorslist {
    animation: scroll 20s linear infinite;
  }
  